# All object files
*.o

# Executables
*.exe
*.out

# Libraries
*.a

# Shared libraries
*.so

# Debug files
/.nfs*
*.swp

# Other
*.txt

# Visual Studio Code
.vscode

# Server and Client
client
server
